.nav-container {
    padding: 10px 0 15px 0;
}

.nav {
    box-shadow: none;
}

main {
    border-top: 1px solid #aaa;
}

main .social {
    margin-top: 15px;
    text-align: center;
}

main .social > a {
    margin-right: 5px;
}
