<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{- if eq .RelPermalink "/" }}
	<meta name="description" content="{{ .Site.Params.Description }}">
	{{- else if .Description }}
	<meta name="description" content="{{ .Description }}">
	{{- end }}
    <meta name="author" content="{{if .Params.Author}}{{.Params.Author}}{{else}}{{ .Site.Author.name }}{{end}}" />
	
	<title>
		{{- if eq .RelPermalink "/" }}
		{{ .Site.Title }}
		{{- else }}
		{{ .Title }} &middot; {{ .Site.Title }}
		{{- end }}
	</title>
	
	<!-- CSS -->
	{{- $inServerMode	:= .Site.IsServer }}
	{{- $cssTarget		:= "css/style.css" }}
	{{- $cssOptions		:= cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}		
	{{- $style			:= resources.Get "scss/tale.scss" | toCSS $cssOptions }}
  	<link rel="stylesheet" href="{{ $style.RelPermalink }}" />    
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ "assets/my.css" | relURL }}">

	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="192x192" href="{{ "images/icons/android-icon-192x192.png" | relURL }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "images/icons/favicon-32x32.png" | relURL }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ "images/icons/favicon-96x96.png" | relURL }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "images/icons/favicon-16x16.png" | relURL }}">
	
	<link rel="apple-touch-icon" href="{{ "images/icons/apple-icon.png" | relURL }}" />
	<link rel="apple-touch-icon" sizes="57x57" href="{{ "images/icons/apple-icon-57x57.png" | relURL }}" />
	<link rel="apple-touch-icon" sizes="57x57" href="{{ "images/icons/apple-icon-60x60.png" | relURL }}" />
	<link rel="apple-touch-icon" sizes="72x72" href="{{ "images/icons/apple-icon-72x72.png" | relURL }}" />
	<link rel="apple-touch-icon" sizes="76x76" href="{{ "images/icons/apple-icon-76x76.png" | relURL }}" />
	<link rel="apple-touch-icon" sizes="114x114" href="{{ "images/icons/apple-icon-114x114.png" | relURL }}" />
	<link rel="apple-touch-icon" sizes="120x120" href="{{ "images/icons/apple-icon-120x120.png" | relURL }}" />
	<link rel="apple-touch-icon" sizes="144x144" href="{{ "images/icons/apple-icon-144x144.png" | relURL }}" />
	<link rel="apple-touch-icon" sizes="152x152" href="{{ "images/icons/apple-icon-152x152.png" | relURL }}" />
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "images/icons/apple-icon-180x180.png" | relURL }}" />

	<link rel="manifest" href="{{ "site.webmanifest" | relURL }}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ "images/icons/ms-icon-144x144.png" | relURL }}">
	<meta name="theme-color" content="#ffffff">
	
	<!-- RSS -->
	<link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/google_analytics.html" . }}
</head>
