<section class="social">
    <a href="https://twitter.com/deniskyashif" target="_blank" title="Twitter">
        <i class="fa fa-{{ .icon_size }} fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/deniskyashif" target="_blank" title="GitHub">
        <i class="fa fa-{{ .icon_size }} fa-github" aria-hidden="true"></i>
    </a>
    <a href="https://linkedin.com/in/denis-kyashif" target="_blank" title="LinkedIn">
        <i class="fa fa-{{ .icon_size }} fa-linkedin" aria-hidden="true"></i>
    </a>
    <a href="/index.xml" type="application/rss+xml" target="_blank" title="RSS">
        <i class="fa fa-{{ .icon_size }} fa-rss" aria-hidden="true"></i>
    </a>
</section>
