{{ define "main" }}

<main>
	{{ partial "index/introduction.html" . }}

    {{ $paginator := .Paginate (.Site.RegularPages) }}
	<div class="catalogue">
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
	</div>

	<div class="pagination">
		{{ if $paginator.HasPrev }}
		<a href="{{ $paginator.Prev.URL }}" class="left arrow">&#8592;</a>
		{{ end }}
		{{ if $paginator.HasNext }}
		<a href="{{ $paginator.Next.URL }}" class="right arrow">&#8594;</a>
		{{ end }}
	    
		<span>{{ $paginator.PageNumber }}</span>
	</div>
</main>

{{ end }}
